* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #E3E1D1;
  font-family: raleway;
  color: #04171D;
}

.headbar {
  position: absolute;
  height: 30px;
  width: 100%;
  text-align: right;
}
.headbar ol {
  margin-right: 15%;
  margin-top: 5%;
}
.headbar ol li{
  float: right;
  padding: 2px;
  margin: 5px;
}

.jumbotron {
  background-color: #E0C149;
  width: 75%;
  height: 50px;
  margin: auto;
  border-bottom: 1px solid #186C90;
}

.logo {
  font-family: "kirang haerang";
  margin-left: 8px;
  margin-top: 8px;
  text-decoration: none;
  color: #186C90;
}


a:hover {
  text-decoration: none;
}
a {
  text-decoration: none;
}
/* Blue: 186C90, Yellow: E0C149, Orange: BD5D37, Gray: E3E1D1  */
.subhead {
  text-align: center;
  color: #186C90;
  width: 100%;
  font-family: raleyway;
}

.subhead img {
  /* border-top: 2px solid #E3E1D1;
  border-bottom: 2px solid #E3E1D1; */
  border-left: 10px solid #E0C149;
  border-right: 10px solid #E0C149;
}

.subhead h2 {
  padding: 3px;
}

.container {
  background-color: #E0C149;
  width: 90%;
  border-bottom: 1px solid #186C90;
}

.row {
  height: 500px;
  text-align: center;
}

.titles{
  text-align: center;
  color: #186C90;
  font-family: raleway;
}

.projimage {
  width:100%;
  padding-top: 10px;
  border-bottom: 2px solid #186C90;
  transition: all .5s ease-in-out;
  filter: grayscale(0%);
  overflow: hidden;
}

.projimage:hover {
  filter: grayscale(100%);
  transform: scale(1.05);
}

h3 {
  color: #186C90
  font-size: 40px;
}

.well {
  background-color: #E3E1D1;
  color: #186C90;
  border-bottom: 2px solid #186C90;
}

ul, ol {
  list-style-type: none;
}

.formore {
  text-align:center;
}
.footer {
  width: 100%;
  height: 100px;
  background-color: #E0C149;
  margin-top: 50px;
  border-bottom: 2px solid #186C90;
}

.footer p{
  float: right;
  margin: 10px;
  margin-top: 40px;
  color: #186C90;
}

.footer i {
  font-size: 40px;
  margin: 5px;
  padding-top: 25px;
  color: #186C90;
}

.interests {
  width: 75%;
  margin: auto;
  margin-top: 30px;
}

.panel > .panel-heading {
  background-color: #186C90;
  color: #E0C149;
  /* color: #E3E1D1; */
}

.panel > .panel-body {
  background-color: #E0C149;
  color: #186C90;
}

h4 {
  margin-top: -10px;
}

.dirty {
  color: brown;
}
