* {
  margin: 0px;
  padding: 0px;
  font-family: raleway;
}

body {
  background-color: #E3E1D1;
}
.jumbotron {
  background-color: #E0C149;
  width: 75%;
  height: 50px;
  margin: auto;
  border-bottom: 1px solid #186C90;
}

.logo {
  font-family: "kirang haerang";
  margin-left: 8px;
  margin-top: 8px;
  text-decoration: none;
  color: #186C90;
}
a:hover {
  text-decoration: none;
}
a {
  text-decoration: none;
}
/* Blue: 186C90, Yellow: E0C149, Orange: BD5D37, Gray: E3E1D1  */
.subhead {
  text-align: center;
  color: #186C90;
  width: 100%;
  font-family: raleyway;
}

.subhead img {
  border-bottom: 2px solid #186C90;
}

.subhead h2 {
  padding: 3px;
}

.container {
  background-color: #E0C149;
  width: 90%;
  border-bottom: 1px solid #186C90;
}

.row {
  height: 500px;
  text-align: center;
}

.titles{
  text-align: center;
  color: #186C90;
  font-family: raleway;
}

.projimage {
  width:100%;
  padding-top: 10px;
  border-bottom: 2px solid #186C90;
}

h3 {
  color: #186C90
  font-size: 40px;
}

.well {
  background-color: #E3E1D1;
  color: #186C90;
  border-bottom: 2px solid #186C90;
}

ul {
  list-style-type: none;
}
