* {
  margin: 0px;
  padding: 0px;
  /* border: 1px solid red; */
}

body {
  background-color: #E3E1D1;
}
.jumbotron {
  background-color: #E0C149;
  width: 100%;
  height: 50px;
}

.logo {
  font-family: "kirang haerang";
  /* padding: 2px;
  margin-left: 8px; */
  text-decoration: none;
  color: #186C90;
  display: inline;
}
.title {
  float: right;
  font-family: "kirang haerang";
  color: #186C90;
}
a:hover {
  text-decoration: none;
}
a {
  text-decoration: none;
}
.nav {
  display: inline;
  justify-content: space-space-between;
  text-align: center;
}

a {
  margin-top: 5px;
}
