* {
  background-color: #E3E1D1;
  margin: 0px;
  padding: 0px;
  /* border: 1px solid red; */
}

.top {
  background-color: #E0C149;
  width: 100%;
  height: 60px;
}
.logo {
  font-family: "kirang haerang";
  /* margin: 10px; */
  background-color: #E0C149;
}
